.slide:not(.active) {
	display: none;
}

.slide img {
	height: 360px;
	width: 360px;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	height: 42px;
	width: 42px;
	padding: 0;
	margin-top: -21px;
	color: silver;
	font-size: 20px;
	background-color: rgb(239, 239, 239);
	border: 1px solid rgb(239, 239, 239);
}

.prev:hover,
.next:hover {
	color: black;
}

/* Position the "next button" to the right */
.prev {
	left: 0;
}

.next {
	right: 0;
}

/* Container for image text */
figure {
	position: relative;
	margin-bottom: 0;
}

figcaption {
	background-color: rgba(255, 255, 255, 0.75);
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

/* Thumbnails */
.track {
	display: flex;
	transition: transform 500ms ease 0s;
}

.list {
	margin: 0 auto;
	max-width: 252px;
	overflow: hidden;
}

.thumbnail {
	cursor: pointer;
	width: 42px;
	height: 42px;
}

.thumbnail-image {
	width: 100%;
	border: 2px solid transparent;
	opacity: 0.6;
}

.thumbnail-image.active,
.thumbnail-image:hover {
	opacity: 1;
	border: 2px solid black;
}

.dialog {
	/*width: 90vw;*/
}
